.dynamic {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textbac {
    content: "";
    content: "";
    position: absolute;
    top: 350px;
    left: 126px;
    height: 6%;
    width: 15%;
    margin: 10px;
    font-size: 40px;
    color: rgb(17, 142, 214);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content_home {
    
}

.content_home .text {
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content_home .text.first-text {
    color: white;
    position: absolute;
    left: 80px;
    top: 300px;
    font-size: 40px;
}

.text.sec-text {
    content: "";
    position: absolute;
    top: 350px;
    left: 290px;
    height: 8%;
    width: 18%;
    margin: 10px;
    background-color: rgb(0, 0, 0);
    border-left: 2px solid rgb(43, 27, 138);
    animation: animate 4s steps(12) infinite;
}

@keyframes animate{
    40%, 60%{
        left: 30%;    
    }
    80%{
        left: 10%;
    }
}

